body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: rgb(2, 0, 22);
  color : white;
  margin: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgb(5, 0, 58);
  font-size: small;
}

.mapOptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  padding: .7rem;
  /* background-color: rgb(5, 0, 58); */
  /* font-size: small; */
}

.button{
  background-color: rgb(3, 0, 36);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 1rem;
  /* font-family: 'Poppins'; */
}

.button:hover{
  cursor: pointer;
  background-color: rgb(9, 0, 102);
}

.dataviz{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
/* padding: 1rem; */
font-size: small;
}

.all_countries {
  isolation: isolate;
}

.second_country {
  mix-blend-mode: hard-light;
}

select{
  width: 35%;
  background-color: rgb(255, 255, 255);
  color:  rgb(4, 1, 48);
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: .8em;
  margin: 0 1em 0 1em;
  font-family: 'Poppins';
}

.randomButton{
  border-radius: 5px;
  border: none;
  background-color:  rgb(5, 0, 58);
  color: #f5f1f1;
}

@media (min-width: 600px) {
  select {
    top: 5rem;
    left: 5rem;
    width: 12rem;
  }
  .randomButton{
    top: 5rem;
    left: 20rem;
    width: 12rem;
  }
}

.region{
  stroke: rgba(187, 243, 255, 0.16);
  stroke-width: 0.5px ;
}


.randomButton:hover{
  cursor: pointer;
  background-color:  rgb(9, 0, 102);
}
