body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  /* overflow-x: hidden; */
  background-color: rgb(2, 0, 22);
  color : white;
  margin: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem .5rem 1rem;
  background-color: rgb(5, 0, 58);
  font-size: small;
}

.mapOptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  padding: .7rem;
  /* background-color: rgb(5, 0, 58); */
  /* font-size: small; */
}

button, .button{
  background-color: rgb(3, 0, 36);
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem .5rem 1rem;
  margin: 0 1rem;
  /* font-family: 'Poppins'; */
}

button:hover, .button:hover{
  cursor: pointer;
  background-color: rgb(9, 0, 102);
}

.popUpBarChart{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* padding: 1rem;
  font-size: small; */
}
.dataviz{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
/* padding: 1rem; */
font-size: small;
}

.all_countries {
  isolation: isolate;
}

.second_country {
  mix-blend-mode: hard-light;
}

.tooltip{
  position: absolute;
  font-family: 'Poppins';
  background-color: rgb(22, 0, 0);
  color: white;
  padding: .3rem;
  border-radius: 5px;
}

.map{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow: scroll; */
}

select{
  width: 35%;
  background-color: rgb(255, 255, 255);
  color:  rgb(4, 1, 48);
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: .8em;
  margin: 0 1em 0 1em;
  font-family: 'Poppins';
}

.slider{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 1em 0 1em;
}
.yearSelect{
  width: 100%;
  background-color: rgb(255, 255, 255);
  color:  rgb(4, 1, 48);
  border-radius: 5px;
  border: none;
  padding: 0;
  margin: 0 0 0 0;
  font-size: .8em;
  font-family: 'Poppins';
}

datalist {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  width: 100%;
}


.randomButton{
  border-radius: 5px;
  border: none;
  background-color:  rgb(5, 0, 58);
  color: #f5f1f1;
  width: 12rem;
}

@media (max-width: 600px) {
  .slider{
    width: 90%;
  }
  .randomButton{
    width: auto;
  }
}

.region{
  stroke: rgba(187, 243, 255, 0.16);
  stroke-width: 0.5px ;
}


.randomButton:hover{
  cursor: pointer;
  background-color:  rgb(9, 0, 102);
}
